<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="WolfSellers_ReferredUsers" frontName="wolf">
            <module name="WolfSellers_ReferredUsers" />
        </route>
    </router>
</config>
